<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>User: {{ user.username }}</li>
    <form class="btn" method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  {% else %}
    <li><a href=" {% url 'login' %} ">Login</a></li>
  {% endif %}
  <br>
  <li><a href="{% url 'core_app:index'%}">Home</a></li>
  <li><a href="{% url 'core_app:showsessions-list'%}">Show Sessions</a></li>
  <li><a href="{% url 'core_app:tickets-list'%}">Tickets</a></li>
  <li><a href="{% url 'core_app:reservations-list'%}">Reservation</a></li>
  <li><a href="{% url 'core_app:planetariumdomes-list'%}">Planetarium Dome</a></li>
  <li><a href="{% url 'core_app:astronomyshows-list'%}">Astronomy Show</a></li>
  <li><a href="{% url 'core_app:showthemes-list'%}">Show Theme</a></li>
</ul>