<ul class="sidebar-nav">
  <li><a href="{% url 'core_app:index'%}">Home</a></li>
  <li><a href="{% url 'core_app:showsessions-list'%}">ShowSessions</a></li>
  <li><a href="{% url 'core_app:tickets-list'%}">Tickets</a></li>
  <li><a href="{% url 'core_app:reservations-list'%}">Reservation</a></li>
  <li><a href="{% url 'core_app:planetariumdomes-list'%}">PlanetariumDome</a></li>
  <li><a href="{% url 'core_app:astronomyshows-list'%}">AstronomyShow</a></li>
  <li><a href="{% url 'core_app:showthemes-list'%}">ShowTheme</a></li>
</ul>