<ul class="sidebar-nav">
  <li><a href="{% url 'core_app:index'%}">Home</a></li>
  <li><a href="{% url 'core_app:showsessions-list'%}">Show Sessions</a></li>
  <li><a href="{% url 'core_app:tickets-list'%}">Tickets</a></li>
  <li><a href="{% url 'core_app:reservations-list'%}">Reservation</a></li>
  <li><a href="{% url 'core_app:planetariumdomes-list'%}">Planetarium Dome</a></li>
  <li><a href="{% url 'core_app:astronomyshows-list'%}">Astronomy Show</a></li>
  <li><a href="{% url 'core_app:showthemes-list'%}">Show Theme</a></li>
</ul>