{% extends "base.html" %}

{% block title %}
  Planetarium Domes
{% endblock %}

{% block content %}
  <h1>Planetarium Domes List <a href="{% url 'core_app:planetariumdomes-create' %}" style="text-decoration: none;">+</a></h1>
  <ul>
    {% if planetarium_domes %}
      {% for planetarium_dome in planetarium_domes %}
        <li><a href="{% url 'core_app:planetariumdome-detail' planetarium_dome.id %}">{{ planetarium_dome.name }}, {{ planetarium_dome.rows }}, {{ planetarium_dome.seats_in_row }} </a></li>
      {% endfor %}
    {% else %}
      <p> No Planetarium Domes found</p>
    {% endif %}
  </ul>
{% endblock %}

{% block pagination %}
  {% include "includes\pagination.html" %}
{% endblock %}