{% extends "base.html" %}

{% block title %}
  Planetarium Domes
{% endblock %}

{% block content %}
  <h1>Planetarium Domes List <a href="{% url 'core_app:planetariumdomes-create' %}" style="text-decoration: none;">+</a></h1>
  {% if planetarium_domes %}
      <table class="table table-striped table-hover">
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ROWS</th>
            <th>SEATS IN ROW</th>
            <th>UPDATE</th>
            <th>DELETE</th>
          </tr>
          {% for planetarium_dome in planetarium_domes %}
            <tr>
              <td>{{ planetarium_dome.id }}</td>
              <td>{{ planetarium_dome.name }}</td>
              <td>{{ planetarium_dome.rows }}</td>
              <td>{{ planetarium_dome.seats_in_row }}</td>
              <td><a class="btn btn-primary" href="{% url 'core_app:planetarium_dome-update' pk=planetarium_dome.id %}">UPDATE</a></td>
              <td><a class="btn btn-danger" href="{% url 'core_app:planetarium_dome-delete' pk=planetarium_dome.id %}">DELETE</a></td>
            </tr>
          {% endfor %}
      </table>
    {% else %}
      <p> No Planetarium Domes found</p>
    {% endif %}

{% endblock %}

{% block pagination %}
  {% include "includes\pagination.html" %}
{% endblock %}