{% extends "base.html" %}

{% block title %}
  Astronomy shows
{% endblock %}

{% block content %}
  <h1>Astronomy Shows List</h1>
  <ul>
    {% if astronomy_shows %}
      <table class="table table-striped table-hover">
          <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>THEMES</th>
            <th>UPDATE</th>
            <th>DELETE</th>
          </tr>
          {% for astronomy_show in astronomy_shows %}
            <tr>
              <td>{{ astronomy_show.id }}</td>
              <td>{{ astronomy_show.title }}</td>
              <td>{{ astronomy_show.description }}</td>
              <td>  {% for theme in astronomy_show.themes.all %}
                      {{ theme.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
              </td>
              <td><a class="btn btn-primary" href="{% url 'core_app:astronomyshows-update' pk=astronomy_show.id %}">UPDATE</a></td>
              <td><a class="btn btn-danger" href="{% url 'core_app:astronomyshows-delete' pk=astronomy_show.id %}">DELETE</a></td>
            </tr>
          {% endfor %}
      </table>
    {% else %}
      <p> No Astronomy Shows found</p>
    {% endif %}
  </ul>
{% endblock %}

{% block pagination %}
  {% include "includes\pagination.html" %}
{% endblock %}