
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
      <title>
        {% block title %}
          Title
        {% endblock %}
      </title>
  <link rel="stylesheet" href="{% static 'css\styles.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        {% block sidebar %}
          {% include "Includes/sidebar.html" %}
        {% endblock %}
      </div>
      <div class="col-sm-9">
        {% block content %}
        {% endblock %}
        {% block pagination %}
        {% endblock %}
      </div>
    </div>

  </div>
</body>
</html>