{% extends "base.html" %}

{% block title %}
  Tickets
{% endblock %}

{% block content %}
  <h1>Tickets List</h1>
  <ul>
    {% if tickets %}
      {% for ticket in tickets %}
        <li><a href="{{ ticket.get_absolute_url }}">Row: {{ ticket.row }}, Seat: {{ ticket.seat }}, Show: {{ ticket.show_sessions.astronomy_show.title }} in  {{ ticket.show_sessions.planetarium_dome.name}}</a> </li>
      {% endfor %}
    {% else %}
      <p> No tickets found</p>
    {% endif %}
  </ul>
{% endblock %}

{% block pagination %}
  {% include "includes\pagination.html" %}
{% endblock %}